<ion-header collapse="fade" [translucent]="true">
  <ion-img class="black" src="assets/emotifit1.png"></ion-img>
  <ion-toolbar size="large">
    <ion-title>Inicio Rutina</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color="primary" href="rutina7" fill="clear" shape="round">
    Por categoria
  </ion-button>
  <br />
  <ion-button color="primary" href="rutina-ejercicios" fill="clear" shape="round" id="12">
    Todos los Ejercicios
  </ion-button>
  <br />
  <ion-button color="primary" href="clases-emoti" fill="clear" shape="round">
    Todas las clases
  </ion-button>
  <br />
  <ion-button color="primary" href="calcular-imc" fill="clear" shape="round" id="20">
    Calcula tu IMC
  </ion-button>

  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>estos es una prueba</ion-label>
  </ion-item>



</ion-content>